/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 h1,h2,h3{margin:0}
 .text_width{width:150px; display: inline-block; margin:5px;}

 @media screen and (min-width: 1200px){
 	#main{
 		text-align: center;
 		header{
 			height: 600px;
 			background-image: url("../image/bg.jpg");
 			background-repeat: no-repeat;
 			background-size: 100% auto;

 			.title{
 				height: 100px;
 				padding-top:300px;
 			}
 		}
 		#video{
 			height: 500px;
 			padding: 100px;
 		}
 		#model{
 			padding:100px 0;
 			background-color:#FFE8DF;
 			height:680px;
 			.tx{
 				text-align: left;
 				h1{
 					margin-bottom:30px; 
 				}
 				p{
 					margin: 10px;
 					font-size: 1.2em;
 				}
 			}
 			.tool{
 				img{
 					width:50px;
 				}
 				.bt{
 					margin-top: 30px;
 					button{
 						font-family:Microsoft JhengHei;
 						margin: 5px;
 					}	

 				}
 			}

 		}
 		#show{
 			height:1350px;
 			background-color:#FFEC9E;
 			#show_1,#show_2,#show_3{height:450px;}
 			.counters{
 				padding:25px 20px;
 				img{width:550px;border:5px solid #fff}
 				hr{border-color:#486072;}
 			}
 		}
 		#order{
 			height:700px;
 			padding:100px;
 			form{
 				margin: 50px auto;
 				p{font-size: 1.2em;}
 				textarea{
 					width:200px;
 					margin:5px auto;
 				}
 				#choice{
 					font-size: 1.2em;
 					width: 40%;
 					margin: 0 auto;

 					.name_wallet{
 						font-size:1.3em;
 						font-family:Microsoft JhengHei;
 						text-align: center;
 						font-weight: bolder;
 					}
 					td{ 
 						input[type=checkbox]{
 							/* Double-sized Checkboxes */
 							-ms-transform: scale(2); /* IE */
 							-moz-transform: scale(2); /* FF */
 							-webkit-transform: scale(2); /* Safari and Chrome */
 							-o-transform: scale(2); /* Opera */
 							margin: 8px;
 						}
 						padding: auto 3px;
 						select{
 							display: inline-block;
 							width: auto;
 						}
 					}
 				}
 			}

 		}
 		#QandA{
 			height:700px;
 			padding:100px; 
 			background-color:#A7D6FA;
 			.usually{
 				background-color: #FFF;
 				padding: 50px;
 				h1{margin-bottom:50px;}
 				p{
 					text-align: left;
 					font-size: 1.2em;
 					font-family:Microsoft JhengHei;
 				}
 				.question{
 					margin-top:50px; 
 				}	
 			}
 			
 		}

 		footer{
 			padding:10px;
 			height: 120px; 
 			background-color:#FFCD75;
 		}
 	}
 }
 

